body {
  background-color: rgb(27, 28, 29);
  padding-top: 50px;
}

.profile-image {
  height: 250px;
}

.skills-table {
  background-color: rgb(27, 28, 29) !important;
}

.skills-table td {
  border-style: none !important;
}

.h-element {
  display: inline-block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.items p, h3 {
  color: white !important;
}

.items span {
  font-style: italic !important;
  color: gray !important;
}
